.container-body{
    position: relative;
    font-size: 0.36rem;
        .body-header{
        height: 1rem;
        line-height: 1rem;
        color: #fff;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 0.3rem;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .body-content{
        margin-top: 1rem;
        .column-body{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            box-sizing: border-box;
            padding: 0.3rem;
            background-color: #fff;
        }
    }
    .mask{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0.2;
        z-index: 9;
    }
    .slide-box{
        overflow: hidden;
        max-height: 0;
        width: 3rem;
        background: #fff;
        position: fixed;
        top: 1rem;
        left: 0;
        z-index: 99;
        transition: all 0.3s;
    }
    .slide-active{
        max-height: 40vh;
    }
}