.banner-container{
    width: 100%;
    height: 3rem;
    background-color: orange;
    .ant-carousel{
        height: 100%;
        .container-swiper{
            height: 100%;
            width: 100%;
            .swiper-li{
                height: 3rem;
                width: 100%;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                .li-info{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 50%;
                    font-size: 0.36rem;
                    font-weight: bold;
                    text-align: center;
                    background-color: rgba($color: #fff, $alpha: 0.7);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    // height: 1rem;
                }
            }
        }
    }
}